* {
    box-sizing: border-box;
    vertical-align: top;
}

hr {
    margin: 5px 0;
    padding: 0;
}

body {
    height: 100%;
    /* overflow: hidden; */
}

#content {
    position: absolute;
    left: 0;
    height: calc(100% - 30px);
    width: 100%;
}

#auxiliary-window {
    height: 100%;
    width: 100%;
}